<ion-header>
  <ion-toolbar>
    <ion-title>
      QRCode Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QRCode Example</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button class="btn" expand="block" shape="round" color="danger" (click)="scanQrCode()">Scan Qrcode
      <ion-icon size="small" name="qr-code-outline"></ion-icon>
    </ion-button>
    <div>
      <ion-card *ngIf="qrResult">
        <ion-card-header>
          <ion-card-title>Qr Content</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{qrResult}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
